manifest {
  description = "run coloc based on log bayes factors"
  nextflowVersion = ">=21.10.6"
}

profiles {
  // region column name in lbf2_files (has to be "region" for now)
  params.region_col    = "region"
  params.trait1_col    = "#trait"
  params.variant1_col  = "rsid"
  params.dataset2_col  = "#dataset"
  params.trait2_col    = "molecular_trait_id"
  params.variant2_col  = "variant"
  params.chr_prefix1   = "chr"
  params.chr_prefix2   = ""
  params.batch_size    = 100
  params.coloc_outfile = "coloc_results_r11_eqtl_cat.tsv.gz"
  params.clp_outfile   = "clp_results_r11_eqtl_cat.tsv.gz"
  local {
    params.outdir = "."
    process.container = "eu.gcr.io/finngen-refinery-dev/bioinformatics:0.8.coloc2"
    docker.enabled = true
    params.cs1_file = "FinnGen_R11_credible_sets.tsv.gz"
    params.cs2_files_loc = "QTD*.credible_sets.tsv.gz"
    params.lbf1_file = "finngen_r11_lbf_all.tsv.gz"
    params.lbf2_files_loc = "QTD*.lbf_variable.munged.tsv.gz"
  }
  gls {
    params.outdir = "gs://finngen-commons/eqtl_catalogue/r6/"
    // this is bioinformatics:0.8 with GNU parallel and coloc R package installed
    process.container = "eu.gcr.io/finngen-refinery-dev/bioinformatics:0.8.coloc2"
    docker.enabled = true
    // this comes from the merge.nf pipeline in https://github.com/juhis/genetics-results-munge
    params.cs1_file = "gs://finngen-commons/credible_sets/FinnGen_R11_credible_sets.tsv.gz"
    // credible_sets have been downloaded from EBI ftp
    params.cs2_files_loc = "gs://finngen-commons/eqtl_catalogue/r6/credible_sets/*.credible_sets.tsv.gz"
    // this comes from munge_finngen_lbf.nf
    params.lbf1_file = "gs://finngen-commons/coloc/finngen_r11_lbf_all.tsv.gz"
    // lbf_variable_munged come from munge_eqtl_cat_lbf.nf
    params.lbf2_files_loc = "gs://finngen-commons/eqtl_catalogue/r6/lbf_variable_munged/*.munged.tsv.gz"
  }
}

timeline {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/coloc_timeline.html"
}
report {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/coloc_report.html"
}
trace {
  enabled = true
  overwrite = true
  file = "${params.outdir}/pipeline_info/coloc_trace.txt"
}
dag {
  enabled = false
  overwrite = true
  file = "${params.outdir}/pipeline_info/coloc_dag.svg"
}
