manifest {
  description = "convert eQTL Catalogue lbf variable files into one tabixed tsv file"
  nextflowVersion = ">=21.10.6"
}

profiles {
  params.num_decimals = 5
  local {
    params.outdir = "."
    process.container = "eu.gcr.io/finngen-refinery-dev/bioinformatics:0.8"
    docker.enabled = true
    params.lbf_files_loc = "*.lbf_variable.txt.gz"
  }
  gls {
    params.outdir = "gs://finngen-commons/eqtl_catalogue/r6/lbf_variable_munged"
    process.container = "eu.gcr.io/finngen-refinery-dev/bioinformatics:0.8"
    docker.enabled = true
    params.lbf_files_loc = "gs://finngen-commons/eqtl_catalogue/r6/lbf_variable/*.lbf_variable.txt.gz"
  }
}

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/coloc_munge_eqtl_cat_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/coloc_munge_eqtl_cat_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/coloc_munge_eqtl_cat_trace.txt"
}
dag {
  enabled = false
  file = "${params.outdir}/pipeline_info/coloc_munge_eqtl_cat_dag.svg"
}
