manifest {
  description = "convert FinnGen fine-mapping snp files with lbfs into one tabixed tsv file"
  nextflowVersion = ">=21.10.6"
}

profiles {
  params.num_decimals = 5
  params.batch_size = 100
  params.filename = "finngen_r11_lbf_all.tsv.gz"
  local {
    params.outdir = "."
    process.container = "eu.gcr.io/finngen-refinery-dev/bioinformatics:0.8"
    docker.enabled = true
    params.lbf_files_loc = "*.SUSIE.snp.bgz"
  }
  gls {
    params.outdir = "gs://finngen-commons/coloc/"
    process.container = "eu.gcr.io/finngen-refinery-dev/bioinformatics:0.8"
    docker.enabled = true
    params.lbf_files_loc = "gs://finngen-production-library-green/finngen_R11/finngen_R11_analysis_data/finemap/full/susie/*.SUSIE.snp.bgz"
  }
}

timeline {
  enabled = true
  file = "${params.outdir}/pipeline_info/coloc_munge_finngen_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/coloc_munge_finngen_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/coloc_munge_finngen_trace.txt"
}
dag {
  enabled = false
  file = "${params.outdir}/pipeline_info/coloc_munge_finngen_dag.svg"
}
